.title {
  font-weight: 900;
  font-size: 1.8rem;
}

.submitWrapper {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}

.submit {
  padding: 0.4rem 2.8rem;
  border-radius: 1.6rem;
  background: linear-gradient(105deg, #48178e 6.49%, #f022b1 102.99%);
}
