.heroSection {
  height: 24rem;
  padding: 2.4rem 3.2rem;
  position: relative;
  border-radius: 2.5rem;
  background: #110729;
  box-shadow: 0.4rem -0.4rem 0.4rem 0px rgba(94, 29, 187, 0.48);
  color: white;
}

.books {
  position: absolute;
  top: -2.6rem;
  right: 2.8rem;
}

.day {
  font-size: 2.4rem;
  font-weight: 900;
}

.evenOdd {
  margin-top: 1.2rem;
  font-size: 1.5rem;
  font-weight: 900;
}

.progressBar {
  margin-top: 1.6rem;
  margin-right: 1rem;
  width: 10rem;
}

.man {
  position: absolute;
  top: 2.4rem;
  left: -1rem;
  height: 24rem;
}
